@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";


@mixin borderbox {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.burger-figure, .user-figure {
    position: relative;
    border: 1px solid grey;
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 360px;

    figcaption, img {
        width: 50%;
    }

    figcaption {
        @include borderbox;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        height: 100%;
        border-right: 2px solid #aaa;
        padding: 20px;
    }

    img {
        height: auto;
        position: relative;
        left: 50%;
    }

}


.compact-list {

    li {
        border: 1px solid #ccc;
        background: #eaeaea;
        border-radius: 4px;
        padding: 6px;

        &:nth-child(even) {
            background: #fafafa;
        }
    }

    figure {
        width: 130px;
        height: 130px;
        overflow: hidden;
        background: white;
        padding: 0;
        margin: 0;
        border: 1px solid #ccc;

    }
}

.compact-list.very-compact {

    h3 {
        font-size: 18px;
        line-height: 18px;
    }

    .lead {
        font-size: 15px;
        line-height: 20px;
        margin: 0 0 4px;
    }

    li {
        padding: 4px;
    }

    figure {
        width: 80px;
        height: 80px;
    }

    .media {
        margin-top: 10px;
    }
}

#user-search {
    float: right;
}

