<h2>Burgers</h2>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr ng-click="reverse=!reverse">
            <th ng-click="order='score'">BurgerScore&reg;</th>
            <th ng-click="order='title'">Burger</th>
            <th ng-click="order='price'">Price</th>
            <th ng-click="order='value'">Value</th>
            <th ng-click="order='user.slug'">Recommended by</th>
        </tr>
    </thead>
    <tbody ng-init="order='score';reverse=true">
        <tr ng-repeat="burger in burgers | orderBy:order:reverse" ng-click="burger.title">
            <td><b>{{ burger.score }}</b></td>
            <td><a ng-href="/#/burgers/{{ burger.slug }}">{{ burger.title }}</a></td>
            <td>{{ burger.price | currency }}</td>
            <td>{{ burger.value }}</td>
            <td><a ng-href="/#/users/{{ burger.user.slug }}">{{ burger.user.name }}</a></td>
        </tr>
    </tbody>
</table>
