<h3>#1 Burger</h3>
<figure class="burger-figure">
    <img ng-show="bestBurger.images.length" ng-src="/media/{{ bestBurger.images[0].url }}">
    <h1 class="figure-title">{{ bestBurger.title }}</h1>
    <p class="figure-lead lead">BurgerScore&reg; {{ bestBurger.score }}</p>
</figure>

<h3>#1 User</h3>
<figure class="user-figure">
    <img ng-src="/media/{{ burgerMaster.thumb }}">
    <h1 class="figure-title">{{ burgerMaster.name }}</h1>
    <p class="figure-lead lead">BurgerCred {{ burgerMaster.cred }}</p>
</figure>
