<figure class="user-figure" ng-show="user.thumb">
    <img ng-src="/media/{{ user.thumb }}">
    <h2 class="figure-title">{{ user.name }}</h2>
    <div class="figure-lead">Ranked <b>#{{ user.rank}}</b> with <b>{{ user.cred }}</b> BurgerCred.</div>
</figure>

<section>
    <h3>Recommended by {{ user.name }}</h3>
    <div ng-include src="'/views/burgerListPartial.html'">
    </div>
</section>

<section>
    <h3>{{ user.name }}'s top-rated burgers</h3>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th ng-click="order='score'">BurgerScore&reg; <a ng-click="reverse=!reverse">^</a></th>
                <th ng-click="order='title'">Burger <a ng-click="reverse=!reverse">^</a></th>
                <th ng-click="order='price'">Price <a ng-click="reverse=!reverse">^</a></th>
                <th ng-click="order='value'">Value <a ng-click="reverse=!reverse">^</a></th>
                <th ng-click="order='user.slug'">Recommended by <a ng-click="reverse=!reverse">^</a></th>
            </tr>
        </thead>
        <tbody ng-init="order='score';reverse=true">
            <tr ng-repeat="burger in burgers | orderBy:order:reverse" ng-click="burger.title">
                <td>{{ burger.score }}</td>
                <td><a ng-href="/#/burgers/{{ burger.slug }}">{{ burger.title }}</a></td>
                <td>{{ burger.price | currency }}</td>
                <td>{{ burger.value }}</td>
                <td><a ng-href="/#/users/{{ burger.user.slug }}">{{ burger.user.name }}</a></td>
            </tr>
        </tbody>
    </table>
</section>
